/* ALL PROJECTS */
#projects {
    background-color: rgb(252, 255, 255);
    color: black;
}

.allProjects {
    padding: 60px;
}

.allProjects img {
    height: 250px;
    width: 250px;
}

.instaPet-project img {
    width: 480px;
}
