/* ALL PROJECTS */
#projects {
    background-color: rgb(255, 255, 255);
    color: black;
}

.allProjects {
    padding: 60px;
}

.allProjects img {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
    transition: transform 0.5s;
}
.allProjects img:hover {
    transform: scale(1.3);
}

.instaPet-project img {
    width: 220px;
}
