/* ALL PROJECTS */
#projects {
    background-color: rgb(255, 255, 255);
    color: #333;
}

.all-projects {
    padding: 60px;
    padding-top: 100px;
}

.project h4 {
    padding-bottom: 40px;
    font-weight: 600;
}

.project h5 {
    padding-top: 20px;
}

.projects h4,
h5,
h6 {
    font-weight: 600;
}

.all-projects img {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 180px;
    width: 198px;
    transition: transform 0.5s;
}
.all-projects img:hover {
    transform: scale(1.3);
}
