#skills {
    background: rgb(255, 255, 255);
    color: #333;
    padding: 20px;
    padding-left: 40px;
}

.title {
    padding-top: 50px;
}

.skill-row h5 {
    font-size: 30px;
    font-weight: 600;
}

.skill-row {
    margin: 5px;
}

.markup {
    padding-top: 75px;
}

.skills-list {
    float: left;
    list-style: none;
    margin: 5px;
    align-items: center;
}

.skills-list li {
    padding-right: 5px;
    display: inline-block;
    margin-top: 10px;
}

.skills-list img {
    height: 45%;
    width: 45%;
    padding-bottom: 20px;
    margin-left: -30px;
}

.databases img {
    height: 80%;
    width: 80%;
}

.gradient {
    border-bottom: 1px solid #880c0c;
}
