#skills {
    background: rgb(255, 255, 255);
    color: #333;
    padding: 20px;
    padding-left: 40px;
}

.title {
    padding-top: 50px;
}

.skill-row h5 {
    font-size: 27px;
    font-weight: 600;
}

.skill-row {
    margin: 5px;
}

.markup {
    padding-top: 75px;
}

.skills-list {
    float: left;
    list-style: none;
    margin: 5px;
    align-items: center;
}

.skills-list li {
    padding-right: 5px;
    display: inline-block;
    margin-top: 10px;
}

.skills-list svg {
    height: 200px;
    width: 200px;
    margin-right: 10px;
}

.skills-list img {
    height: 55%;
    width: 55%;
    padding-bottom: 20px;
    margin-left: -30px;
}

.db img {
    height: 200px;
    width: 200px;
    margin-left: 10px;
}

.gradient {
    border-bottom: 1px solid #880c0c;
}

/* CIRCLES */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
    fill: #183d52;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
    fill: rgb(146, 24, 24);
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
    stroke: rgb(80, 46, 46);
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
    stroke: transparent;
}
