#about {
    margin-top: 70px;
}

.bio {
    margin: auto;
    width: 50%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.bio img {
    border-radius: 70%;
    margin-bottom: 20px;
}

.bio p {
    padding-top: 15px;
}

.about-me {
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.98);
    position: relative;
    color: #333;
    border-bottom: 1px solid rgba(148, 147, 147, 0.98);
}

/* FANCY LINES */
.fancy {
    line-height: 0.5;
    text-align: center;
}
.fancy span {
    display: inline-block;
    position: relative;
}
.fancy span:before,
.fancy span:after {
    content: '';
    position: absolute;
    height: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    top: 0;
    width: 200px;
}
.fancy span:before {
    right: 100%;
    margin-right: 15px;
}
.fancy span:after {
    left: 100%;
    margin-left: 15px;
}
