#about {
    margin-top: 70px;
}

#about img {
    border-radius: 70%;
    margin-bottom: 20px;
    margin-left: 40px;
}

.bio {
    margin: auto;
    width: 50%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.about-me {
    opacity: 0.8;
    background-color: rgba(226, 225, 225, 0.98);
    position: relative;
    color: black;
    border-bottom: 1px solid rgba(148, 147, 147, 0.98);
}

.about-me:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 50px rgba(190, 188, 188, 0.98);
    opacity: 0.8;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.description {
    margin-left: 10px;
    padding-left: 30px;
    padding-top: 15px;
}

/* FANCY LINES */
.fancy {
    line-height: 0.5;
    text-align: center;
}
.fancy span {
    display: inline-block;
    position: relative;
}
.fancy span:before,
.fancy span:after {
    content: '';
    position: absolute;
    height: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    top: 0;
    width: 200px;
}
.fancy span:before {
    right: 100%;
    margin-right: 15px;
}
.fancy span:after {
    left: 100%;
    margin-left: 15px;
}
