* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: rgb(39, 39, 39);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

#index {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(27, 27, 27, 0.7)),
            to(rgba(0, 0, 0, 0.7))
        ),
        url('../images/self/background.jpg');
    background-image: linear-gradient(rgba(49, 49, 49, 0.7), rgba(31, 30, 30, 0.7)),
        url('../images/self/background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
    color: white;
}

footer {
    background-color: #333;
    padding: 30px;
    font-size: 20px;
}

footer img {
    height: 80px;
    width: 80px;
}

.powered-by img {
    align-items: center;
    height: 80px;
    width: 80px;
}

.button {
    padding-left: 30px;
    border-radius: 20%;
}

.button button {
    background-color: rgb(78, 77, 77);
    font-size: 35px;
    height: 75px;
    width: 75px;
    transition: background-color 0.8s, color 0.5s;
}

.button button:hover {
    background-color: rgb(66, 66, 66);
    color: rgb(209, 70, 70);
}

/* SEPARATORS */

.skills-separator {
    position: relative;
    height: 100px;
    padding-top: 24px;
    font-size: 34px;
    font-weight: 100;
    text-align: center;
    background: rgb(94, 172, 215);
    color: white;
    border-bottom: 1px solid rgb(216, 214, 214);
}

.skills-separator:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 50px rgb(94, 172, 215);
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.projects-separator {
    position: relative;
    height: 100px;
    padding-top: 24px;
    font-size: 34px;
    font-weight: 100;
    text-align: center;
    background: rgb(224, 59, 53);
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(170, 43, 43);
}

.projects-separator:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 50px rgb(224, 59, 53);
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}
