/*small phones: up to 480px*/
@media screen and (max-width: 480px) {
    /* General */
    html {
        font-size: 16px;
    }

    /* NavBar */

    #navbar h3 {
        font-size: 14px;
    }

    .connect-icons {
        margin-left: -20px;
    }

    .icon {
        height: 16px;
        width: 16px;
        margin-right: -5px;
    }

    /* About */

    .bio img {
        height: 180px;
        width: 180px;
        margin-top: 20px;
    }

    .fancy span {
        margin-bottom: 20px;
    }

    .fancy span:before,
    span:after {
        display: none;
    }

    /* Education */
    #education img {
        height: 55%;
        width: 45%;
    }

    #education p,
    #education h5 {
        font-size: 95%;
    }

    /* Skills */

    #skills h3 {
        font-size: 18px;
    }

    #skills h5 {
        font-size: 16px;
    }

    #skills svg {
        height: 75px;
        width: 75px;
    }

    /* Projects */
    #projects {
        font-size: 14px;
    }

    #projects h4,
    #projects h5,
    #projects h6 {
        font-size: 130%;
    }

    #projects img {
        height: 140px;
        width: 152px;
    }

    /* Footer */
    footer {
        font-size: 14px;
    }

    footer img {
        height: 50px;
        width: 50px;
        margin-right: 50px;
    }

    footer p {
        margin-right: 50px;
    }

    .up-btn button {
        height: 50px;
        width: 50px;
        font-size: 20px;
    }
}

/*small tablet to big tablet: from 480 to 767px  */
@media screen and (min-width: 480px) and (max-width: 767px) {
    /* General */
    html {
        font-size: 16px;
    }

    /* NavBar */
    #navbar h3 {
        font-size: 16px;
    }

    .connect-icons {
        margin-left: -20px;
    }

    .icon {
        height: 24px;
        width: 24px;
        margin-right: -5px;
    }

    /* About */
    #about div {
        margin-top: 10px;
    }

    .bio img {
        height: 220px;
        width: 220px;
        margin-top: 20px;
    }

    .fancy span {
        margin-bottom: 20px;
    }

    .fancy span:before,
    span:after {
        display: none;
    }

    /* Education */

    /* Skills */
    #skills h5 {
        font-size: 20px;
    }

    #skills h3 {
        font-size: 22px;
    }

    /* Projects */

    /* Footer */
    footer {
        font-size: 16px;
    }

    footer p {
        margin-right: 50px;
    }

    footer img {
        height: 70px;
        width: 70px;
        margin-right: 50px;
    }

    .up-btn button {
        height: 65px;
        width: 65px;
        font-size: 25px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
    .icon {
        height: 28px;
        width: 28px;
        margin-right: -5px;
    }

    #skills h3 {
        font-size: 24px;
    }

    #skills h5 {
        font-size: 22px;
    }
}

@media screen and (min-width: 820px) and (max-width: 1171px) {
    #skills h3 {
        font-size: 24px;
    }

    #skills h5 {
        font-size: 22px;
    }

    #skills svg {
        height: 95px;
        width: 95px;
    }
}

/* big tablet to small laptop: from 1023 to 1323px */
@media screen and (min-width: 1023px) and (max-width: 1323px) {
    .icon {
        height: 32px;
        width: 32px;
        margin-right: -5px;
    }
}

@media screen and (min-width: 1071px) and (max-width: 1323px) {
    #skills svg {
        height: 140px;
        width: 140px;
    }
}

/* Make image and paragraph on its own line when screen width is below 1323px */
@media screen and (max-width: 1323px) {
    #about div {
        margin-top: 10px;
        width: 100%;
    }
}

/* Big widescreens */

@media screen and (min-width: 1740px) {
    #skills svg {
        height: 230px;
        width: 230px;
    }
}

@media screen and (min-width: 2120px) {
    #skills svg {
        height: 250px;
        width: 250px;
    }
}
