/*  Main - nav*/
.nav-name h3 {
    color: rgb(192, 50, 50);
    font-size: 20px;
    padding-top: 22px;
    font-weight: 700;
}

.main-nav {
    float: left;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-top: 9px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 6px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    transition: border-bottom 0.8s, color 0.5s, font-size 0.5s;
}

.main-nav li a:active,
.main-nav li a:hover {
    font-size: 85%;
}

/* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(192, 50, 50);
    box-shadow: 0 2px 2px #971b1b;
    z-index: 9999;
}

.sticky .main-nav {
    transition: border-bottom 0.8s, color 0.5s;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 8px 0;
    color: rgb(49, 49, 49);
}

.sticky .main-nav li a:active,
.sticky .main-nav li a:hover {
    color: #75131b;
}

/* ICONS */
.connect-icons {
    margin-top: 5px;
}

.connect-icons a {
    margin-left: 10px;
}
