#education {
    opacity: 95%;
    background-color: #282c34;
    color: #ffff;
    padding-top: 2.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-bottom: 1px solid rgb(16, 33, 71);
}

.titles {
    padding-bottom: 15px;
}

.titles h5 {
    box-sizing: border-box;
    margin: 8px;
    border-bottom: 1px solid rgb(188, 188, 188);
}

.education-title {
    padding-bottom: 40px;
}

.education-title h3 {
    padding-top: 10px;
    text-align: center;
}
