#education {
    background: white;
    color: #333;
    padding-top: 55px;
    border-bottom: 1px solid rgb(169, 169, 169);
}

#education h5 {
    box-sizing: border-box;
    margin: 8px;
    border-bottom: 1px solid rgb(66, 64, 64);
}

.titles {
    padding-bottom: 15px;
}

.education-title {
    padding-bottom: 40px;
}

.education-title h3 {
    padding-top: 10px;
    text-align: center;
}
